# Define la colección de servicios (contenedores) que componen la aplicación.
services:
  # Servicio del backend (API con Express).
  backend:
    # Asigna un nombre específico al contenedor para fácil identificación.
    container_name: express-api
    # Construye la imagen del backend a partir del Dockerfile en el directorio ./backend-apis.
    build: ./backend-apis
    # Política de reinicio: el contenedor se reiniciará a menos que se detenga manualmente.
    restart: unless-stopped
    # Carga las variables de entorno desde el archivo .env ubicado en el directorio del backend.
    env_file:
      - ./backend-apis/.env
    # Monta un volumen para persistir los datos de la base de datos (db.json),
    # sincronizando el archivo local con el del contenedor.
    volumes:
      - ./backend-apis/db.json:/app/db.json
    # No se exponen puertos al exterior, ya que la comunicación
    # será interna a través de la red de Docker con el frontend.

  # Servicio del frontend (Aplicación React servida con Nginx).
  frontend:
    container_name: react-nginx
    # Construye la imagen del frontend a partir del Dockerfile en el directorio especificado.
    build: ./practica-calificada-3
    restart: unless-stopped
    # Mapea el puerto 80 de la máquina anfitriona al puerto 80 del contenedor,
    # permitiendo el acceso a la aplicación desde el navegador.
    ports:
      - "80:80"
    # Define una dependencia de inicio. El frontend no se iniciará
    # hasta que el servicio 'backend' esté completamente operativo.
    depends_on:
      - backend
