# Definimos los servicios (contenedores) que levantaremos
services:
  # --- 1. El Servicio del Backend (Express) ---
  backend:
    # Nombre del contenedor (opcional, pero recomendado)
    container_name: express-api
    # Le decimos que construya la imagen usando el Dockerfile
    # que está en la carpeta ./backend-apis
    build: ./backend-apis
    # Reinicia automáticamente el contenedor si falla
    restart: unless-stopped
    # Carga las variables de entorno (API_KEY, PORT)
    # desde el archivo .env en la carpeta del backend
    env_file:
      - ./backend-apis/.env
    # --- ¡El Volumen! ---
    # Creamos el "portal" que conecta el db.json de la VM
    # con el interior del contenedor.
    volumes:
      - ./backend-apis/db.json:/app/db.json
    # OJO: No exponemos puertos (expose), porque solo Nginx
    # (el frontend) hablará con él.

  # --- 2. El Servicio del Frontend (React + Nginx) ---
  frontend:
    container_name: react-nginx
    # Construye la imagen usando el Dockerfile
    # que está en la carpeta ./practica-calificada-3
    build: ./practica-calificada-3
    restart: unless-stopped
    # --- ¡El Puerto! ---
    # Mapea el puerto 80 de la VM (lo que ve el mundo)
    # al puerto 80 del contenedor (donde escucha Nginx)
    ports:
      - "80:80"
    # --- La Conexión ---
    # Le dice a Docker: "No inicies este contenedor
    # HASTA QUE el servicio 'backend' esté listo".
    depends_on:
      - backend
